@model IssueCategoryCreateVM

@{
    ViewData["Title"] = "Add Category";
    ViewData["ActivePage"] = "Categories";
}

<div class="topbar">
    <div class="breadcrumb">
        <a asp-action="Index" asp-controller="Home">Dashboard</a>
        <span class="sep">/</span>
        <a asp-action="Index">Categories</a>
        <span class="sep">/</span>
        <span class="current">Add Category</span>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <div class="card-icon">◈</div>
        <div>
            <div class="card-title">Add New Category</div>
            <div class="card-sub">Fill in the details to create a new Category.</div>
        </div>
    </div>

    <form method="post" asp-action="Create" class="form-body" id="form">
        @Html.AntiForgeryToken()
        <div class="form-row single">
            <div class="field">
                <label asp-for="Name">Category Name</label>
                <input asp-for="Name" type="text" name="Name" placeholder="e.g. Printer">
                <span asp-validation-for="Name" class="err-msg"></span>
            </div>
        </div>
        <div class="form-row" id="subCategoryRow">
            <div style="width: 380px;" class="field">
                <label asp-for="SubCategories">SubCategory Name</label>
                <input asp-for="SubCategories" type="text" name="SubCategories" placeholder="e.g. Cartridge">
                <span asp-validation-for="SubCategories" class="err-msg"></span>
            </div>
            <button style="margin-bottom: 8px; width: 50px;" type="submit" class="btn-remove" onclick="removePair(this)">✕</button>
        </div>

        <div class="form-actions" id="addRow">
            <button type="button" class="btn-add" onclick="AddRow()">+ Add Row</button>
        </div>
        <button type="submit" class="btn-save">Create Category</button>
    </form>
</div>

<script>
    function AddRow() {
        const container = document.getElementById('form');
        const beforeitem = document.getElementById('addRow');

        const div = document.createElement('div');
        div.className = 'form-row';

        div.innerHTML = `
            <div style="width: 380px;" class="field">
                <label asp-for="SubCategories">SubCategory Name</label>
                <input asp-for="SubCategories" type="text" name="SubCategories" placeholder="e.g. Cartridge">
                <span asp-validation-for="SubCategories" class="err-msg"></span>
            </div>
            <button style="margin-bottom: 8px; width: 50px;" type="submit" class="btn-remove" onclick="removePair(this)">✕</button>
        `;

        container?.insertBefore(div, beforeitem);
    }

    function removePair(btn) {
        btn.parentElement.remove();
        // const rows = document.querySelectorAll('.pair-row');
        // if (rows.length > 1) {
        //     btn.closest('.pair-row').remove();
        // }
    }
</script>